# Getting Data

## Outline
* Create from list, dictionary, etc. 
* Pandas DataReader
* Excel: XLRD
* Excel: pd.read_excel
* Pyodbc
* re
* Text
* HTML/XML

In [1]:
#initialize Pandas
import pandas as pd

#handling dates
import datetime as dt
import dateutil as dtu

In [4]:
#create some standard date ranges
end_date = dt.datetime.today()
timedelta = dt.timedelta(days=90)
start_date = end_date - timedelta

In [5]:
#or using relativedata
end_date = dt.datetime.today()
timedelta = dtu.relativedelta.relativedelta(months=-3)
start_date = end_date + timedelta

## Pandas Data Reader

In [6]:
import pandas_datareader.data as web

In [10]:
df = web.DataReader("SLB", 'google', start_date, end_date)
df.tail(2)

             Open   High    Low  Close   Volume
Date
2016-04-12  74.17  76.16  73.86  75.90  8223410
2016-04-13  75.98  77.55  75.70  77.37  8635008

## Excel Reader

http://data.gov  
http://catalog.data.gov/dataset?bureauCode=019%3A20  
U.S. Distribution and Production of Oil and Gas Wells

In [44]:
import xlrd

In [48]:
flnm = r'./allyearsstates.xls'
wkbk = xlrd.open_workbook(flnm)
wksheets = wkbk.sheets()
sheet = wksheets[0]
sheet.name, sheet.ncols, sheet.nrows

('ALL_STATES_ALL_YRS_BOE', 11, 37313)

In [50]:
maxcols = sheet.ncols
maxrows = sheet.nrows
sheet.cell_value(0,0), sheet.cell_value(maxrows-1, maxcols-1)

('state', 0.0)

## Pandas - pd.read_excel

In [38]:
df = pd.read_excel(flnm)

In [43]:
df.tail(2)

,state,prod_year,rate_class,num_oil_wells,oil_prod_BBL,ADgas_prod_MCF,oil_wells_dayson,num_gas_wells,NAgas_prod_MCF,conden_prod_BBL,gas_wells_dayson
37310,WY,1974,21,0,0,0,0,0,0,0,0
37311,WY,1974,22,0,0,0,0,0,0,0,0